<a href="https://colab.research.google.com/github/Lahari21072003/lahari/blob/main/Control_structures_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** USE THE CONCEPT OF LOOP TO SOLVE TEHE BELOW QUIRIES **

  1) Print the first 10 natural numbers using for loop.

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2) Python program to print all the even numbers within the given range.

Range = 0 to 100

In [2]:
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))
print("Even numbers in the given range:")
for num in range(start, end + 1):
    if num % 2 == 0:
        print(num)

Enter the start of the range: 5
Enter the end of the range: 15
Even numbers in the given range:
6
8
10
12
14

3) Python program to calculate the sum of all numbers from 1 to a given number.

Given Range = 15

In [3]:

n = 15
sum_total = 0
for i in range(1, n + 1):
    sum_total += i
print("The sum of numbers from 1 to", n, "is:", sum_total)

The sum of numbers from 1 to 15 is: 120

4) Python program to calculate the sum of all the odd numbers within the given range.

Given Range = 10

In [4]:

n = 10
sum_odd = 0
for i in range(1, n + 1, 2):
    sum_odd += i
print("The sum of all odd numbers from 1 to", n, "is:", sum_odd)

The sum of all odd numbers from 1 to 10 is: 25

5) Python program to print a multiplication table of a given number

given number = 5

In [5]:

num = 5
print(f"Multiplication Table of {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Multiplication Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50