<a href="https://colab.research.google.com/github/Lahari21072003/lahari/blob/main/lists_2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Remove empty strings from the list1 of strings

list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]

In [ ]:
def remove_empty_strings(strings):
    return [s for s in strings if s.strip()]
list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]
result = remove_empty_strings(list1)
print("List after removing empty strings:", result)

List after removing empty strings: ['Mike', 'Emma', 'Kelly', 'Brad']

2.Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

expected o/p ; [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
def add_item_after_target(lst, target, item):
    for sublist in lst:
        if isinstance(sublist, list):
            add_item_after_target(sublist, target, item)
        elif sublist == target:
            index = lst.index(target)
            lst.insert(index + 1, item)
            return
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
add_item_after_target(list1, 6000, 7000)
print("Updated list:", list1)

Updated list: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

3.You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:
[5, 10, 15, 200, 25, 50, 20]

In [ ]:
def replace_first_occurrence(lst, old_value, new_value):
    try:
        index = lst.index(old_value)
        lst[index] = new_value
    except ValueError:
        pass
list1 = [5, 10, 15, 20, 25, 50, 20]
replace_first_occurrence(list1, 20, 200)
print("Updated list:", list1)

Updated list: [5, 10, 15, 200, 25, 50, 20]

4.Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]

In [ ]:
def remove_all_occurrences(lst, value_to_remove):
    return [item for item in lst if item != value_to_remove]
list1 = [5, 20, 15, 20, 25, 50, 20]
result = remove_all_occurrences(list1, 20)
print("Updated list:", result)

Updated list: [5, 15, 25, 50]

5.Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
def concatenate_lists(list1, list2):
    return [x + y for x in list1 for y in list2]
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
result = concatenate_lists(list1, list2)
print("Concatenated list:", result)

Concatenated list: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']